/*RESETEO DE ESTILOS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/

header nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: 'Red Hat Display', sans-serif;
    list-style: none;
    padding: 0;
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 0px;
    text-decoration: none;
    font-weight: bold;
}

header {
    padding: 0;
    margin: 0;
}

header nav h1{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}

header nav ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.portadaimg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


/*EDICION BANNER*/
.portada .portadaimg{
    width: 100%;
    height:100vh;
}

main{
    margin: 0 5% 0 5%;
}

.info_portada{
    font-size: 18px;
    text-align: justify;
    font-family:'Red Hat Display', sans-serif;
    padding: 2%;
    display: flex;
    margin-top: 650px;
    text-align: center;
}

.boton_comprar {
    font-family:'Red Hat Display', sans-serif;
    padding: 3%;
    border: none;
    background-color: #CFA6AA;
} 


/*CATALOGO DE PRODUCTOS*/

.productos{
    list-style: none;
}
.catalogo_productos{
    display: flex;
    justify-content: space-around;
    padding: 0;
    justify-content: baseline;
    list-style: none;
    text-align: center;
    margin: 0;
    }

.nombres.productos {
font-weight: bold;
margin-bottom: 0;
padding: 0%;
}

    .florero_nigiri {
        width: 300px;
        height: 350px;
        border-radius: 7%;
        padding: 2%;
    }
    .maceta_sashimi {
        width: 300px;
        height: 350px;
        border-radius: 7%;
        padding: 2%;
    }
    .florero_hamachi{
        width: 300px;
        height: 350px;
        border-radius: 7%;
        padding: 2%;
    }
    .florero_ikura{
        width: 300px;
        height: 350px;
        border-radius: 7%;
        padding: 2%;
    }

/*NOSOTROS*/
.card {
    margin-left: 10px;
    margin-top: 30px;

}

.card-body {
    text-align: left;
    margin-left: 250px;
    margin-right: 60px;
}

.card-text {
    font-size: 18px;
}

.card-title {
    font-size: 40px;
    font-family: 'Outfit', sans-serif;
    font-family: 'Lobster Two', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Prata', serif;
    font-family: 'Red Hat Display', sans-serif;
}

/*FOOTER*/
footer{
    background-color: #CFA6AA;
    margin-top: 3%;
    padding: 3rem;
    
}
/*CAJA DE LA IZQUIERDA*/
.caja_izquierda{
    color: white;
    padding: 1%;
    float: left; /* Coloca el texto a la derecha */
    margin-left: 20px;
}

.info_pagina{
    float: left; /* Coloca el texto a la derecha */
    margin-left: 20px;
}

/*CAJA DERECHA*/
.iconos {
    width: 10%;
    height: 10%;
}
.caja_derecha{
    color: white;
}