/*FOOTER*/
footer{
    background-color: rgba(39, 71, 55, 1);
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding: 20px; 
    .caja_izquierda,
    .info_pagina,
    .caja_derecha {
        flex: 1; /* Distribuye el espacio disponible igualmente entre las cajas */
        padding: 10px; /* Espacio interior en cada caja */
    }
    .caja_izquierda{
        color: white;
        padding: 0%;
        float: left; 
        margin-left: 10px;
    }
    .boton_email {
        padding: 0;
        width: 80%;
        height: 30px;
        border: none;
        border-radius: 7px;
        width: 100%;
    }
    .boton_email::placeholder {
        font-size: small;
        padding: 10px;
    }
    .info_pagina ul{
        float: left; 
        margin-left: 150px;
        list-style: none;
        padding: 0;
    }
    ul li a {
        list-style: none;
        color: white;
        text-decoration: none;
        text-align: center;
    }
    .negrita {
        font-weight: bold;
    }
    .iconos {
        width: 10%;
        height: 10%;
    }
    .caja_derecha{
        color: white;
        display: block;
        text-align: right;
        justify-content: left;
        margin-right: 2px;
    }
}
