/*FAQ*/

.color-fondo{
    background-color: rgba(253, 251, 242, 1);
    padding: 0;
    margin: 0;
    margin-top: 0;
}

.texto_ayuda{
text-align: center;
margin-left: 25%;
margin-right: 25%;
color:  rgba(99, 56, 27, 1);
.titulo_informativo{
    font-size: 60px;
    margin-top: 8%;
    font-family: 'Lobster Two', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Prata', serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Salsa', cursive;
font-family: 'Young Serif', serif;
}
.texto_informativo{
    padding: 1%;
    color:  rgba(99, 56, 27, 1);
    
}
.contenido_plegable{
    font-weight: 15%;
    font-size: small;
    text-align: center;
    padding: 0;
    margin-top: 8%;
    margin-bottom: 0;
    color:  rgba(99, 56, 27, 1);
}
}


.faq {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background: white;
    border-radius: 15px;
    position: relative;
    border: none;
    margin-top: 20px;
    resize: none;
    padding: 20px;
    box-sizing: border-box;
    background-color:  rgba(253, 251, 242, 1);
    color:  rgba(99, 56, 27, 1);
    .faq-heading {
        font-family: Lato;   
        font-weight: 400;
        font-size: 16px;
        text-indent: 20px;
        color: rgba(99, 56, 27, 1);
        font-weight: bold;
        margin-top: 12px;
        }
    label {
        display: block;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        height: 56px;
        padding-top:1px;
        border-bottom: 0.5px solid  rgb(148, 83, 40);
        }
    input[type="checkbox"] {
        display: none;
        }
    .faq-arrow {
        width: 6px;
        height: 6px;
        border-top: 2px solid rgba(167, 54, 138, 0.685);
        border-right: 2px solid rgba(167, 54, 138, 0.685);
        float: right;
        position: relative;
        top: -30px;
        right: 20px;
        }
    input[type="checkbox"]:checked + label {
        display: block;
        height: auto;
        }
    .faq-text {
        font-family: lato;   
        font-weight: 400;
        color:  rgba(99, 56, 27, 1);
        width:100%;
        padding-left:20px;
        margin-bottom:30px;
        }
    }

