/*NOSOTROS*/
.color-fondo{
    background-color:rgba(253, 251, 242, 1);
    padding: 0;
    margin: 0;
    margin-top: 0;
}
.container {
    margin-top: 0%;
    padding: 0;
    margin-bottom: 5%;

    .card-body {
        background-color: rgba(253, 251, 242, 1);
        text-align: left;
        color: rgba(99, 56, 27, 1);
        }
        text {
        font-size: 16px;
        color: rgba(99, 56, 27, 1);
        }
        title {
        font-size: 40px;
        font-family: 'Outfit', sans-serif;
        font-family: 'Lobster Two', cursive;
        font-family: 'Outfit', sans-serif;
        font-family: 'Prata', serif;
        font-family: 'Red Hat Display', sans-serif;
        }
        .img-nosotros{
        width: 90%;
        height: 100%;
        background-color:rgba(253, 251, 242, 1);
        }
        .img-nosotros2{
            width: 90%;
            height: 100%;
            }
        .col-md-4{
            background-color:rgba(253, 251, 242, 1);

        }
        .col-md-8{
            background-color:rgba(253, 251, 242, 1);
        }
    }


